@page "/"

<PageTitle>Home</PageTitle>

<div class="card-header bg-danger text-white text-center p-2 rounded">
    <h3 style="font-weight: bold;" class="md-3 font-weight: bold;">Bienvenido a mi App</h3>
</div>


